body {
	font-family: Verdana,"Ubuntu", sans-serif;
	background-color: #404040;
	font-size: 12px;
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow: hidden;
}
.pan1 {
	background-color: #00d9b8;
}
.pan1 .feedHeader{
	color: #00d9b8;
}
.pan2 {
	background-color: #008cda;
}
.pan2 .feedHeader {
	color: #008cda;
}
.pan3 {
	background-color: #da8200;
}
.pan3 .feedHeader  {
	color: #da8200;
}
.pan4 {
	background-color: #a800da;
}
.pan4 .feedHeader {
	color: #a800da;
}

.feedHeader
{
	
	background-color: black;
	font-size:14px;
	font-weight:bold;
	position: relative;
	height: 100%;
	width: 100%;
	text-align:center;	
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}
.entry
{
	margin-left: 8px;
	margin-right: 8px;
	text-align: justify;
}

.feedReader
{
	width:8000px;
	position:absolute;
}

.feedPanel {
	float:left;
	overflow: hidden;
	position: relative;
	width: 256px;
	height: 100%;
	display: inline;
}

.feedContent {
	position: relative;
	width: 100%;
	height: auto;
	
}

h1, h2, h3 {
	font-weight: bold;
	color: #101010;
	font-size: 120%;
	text-align: left;
}
h1 {
	margin-top: 10px;
}
object {
	visibility: hidden;
}
embed {
	visibility: hidden;
}
img {
	position: relative;
	width: 100%;
	height: auto;
}
a {
	color: #e0e0e0;
	text-decoration: none;
	visibility: hidden;
}
.description {
}
.date {
	color: #565248;
	font-size: 9px;
}